body {
    background-color: darkolivegreen;
}

footer {
    background-color: rgb(57, 82, 15);
    margin-bottom: 0;
    padding:0%;
    margin: 0;
}
.container {
    margin: 30px;
    gap: 10px;
    }
img {
    width: 90%;
}
.card {
    padding: 20px;
}
.der {
    text-align: right;
    margin:auto;
}
.izq {
    text-align: left;
    margin:auto;
}
header {
    margin-top: 60px;
}
#product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
}
#carrito{
    width: 5%;
    text-align: end;
}
.carro{
    text-align: end;
}